.container{
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
}

mat-form-field{
    width: 100%;
}

button{
    width: 100%;
}

h2{
    width: 100%;
    text-align: center;
}

.edit{
    color: rgba(102,0,255,1);
}

.delete{
    color:red;
}

mat-radio-group{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}