<div class="container mat-elevation-z4">
    <form class="form">
       <h2>Cadastrar Produto</h2>  

       <p>
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Nome</mat-label>
          <input
            [(ngModel)]="produto.nome"
            nome="nome" 
            [formControl]="nome"
            required
            matInput 
            placeholder="Nome">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Descrição</mat-label>
          <input
            [(ngModel)]="produto.descricao"
            nome="descricao"
            [formControl]="descricao"
            matInput 
            placeholder="Ex:Observações">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Unidade de Medida</mat-label>
          <input 
            [(ngModel)]="produto.unMedida"
            nome="unMedida"
            [formControl]="unMedida"
            matInput
            placeholder="Ex:Unidade">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Valor Unitário</mat-label>
          <input
            [(ngModel)]="produto.valorUn"
            nome="valorUn"
            [formControl]="valorUn"
            require
            matInput
            placeholder="Ex:00.00">
        </mat-form-field>
      </p>

      <button (click)="create()" [disabled]="!validaCampos()" class="fullWidth mat-elevation-z4" mat-flat-button color="primary">Cadastrar</button>
      <button routerLink="../" class="fullWidth mat-elevation-z4" mat-stroked-button color="primary">Cancelar</button>
    </form>

 

</div>
