<div class="container mat-elevation-z4">
    <form class="form">
       <h2>Cadastrar Cliente</h2>  

       <p>
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput placeholder="Cpf">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Telefone</mat-label>
          <input matInput placeholder="Telefone">
        </mat-form-field>
      </p>

      <button class="fullWidth mat-elevation-z4" mat-flat-button color="primary">Cadastrar</button>
      <button class="fullWidth mat-elevation-z4" mat-stroked-button color="primary">Cancelar</button>
    </form>

 

</div>